body {
    /* background-color: #183153; */
    background: linear-gradient(to bottom right, #183153, 60%, black);
}

.fondo-negro {
    background-color: black;
}

#sidebar {
    width: 250px;
    box-shadow: 2px 2px white;
}

#sidebar a {
    background-color: rgb(19, 19, 19);
    border-left: none;
    border-width: 1px !important;
    border-color: #183153;
}

#sidebar a:hover {
    background-color: #183153!important;
}

.card {
    box-shadow: 2px 2px 25px rgb(28, 62, 116);
    background-color: rgba(255, 255, 255, 0.295);
    color: white;
}

.principal {
    overflow-y: scroll;
    overflow-x: hidden;
    /* background: linear-gradient(to bottom right, #183153, 60%, black); */
}


/* color fondo barra */

.principal::-webkit-scrollbar-track {
    background-color: transparent;
    /*color de la barra de fondo*/
}


/* color barra */

.principal::-webkit-scrollbar-thumb {
    background-color: rgb(44, 116, 139);
    border-radius: 5px;
}


/* tamaño barra */

.principal::-webkit-scrollbar {
    width: 5px;
}